#mac os finder caches.
.DS_Store

#unity caches.
Library/
Logs/
Packages/packages-lock.json
Temp/
UserSettings/

#visual studio caches.
.vs/
obj/
.vsconfig
*.csproj
*.sln

#bin tools local files:
bin/bundletool-all.jar

bin/csv/BUILD/
bin/csv/node_modules/
bin/csv/package-lock.json

# keep.
!.gitkeep
