<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!--NOTE: for a custom activity, unity will not add the attributes and child nodes
            of the default UnityPlayerActivity to it. remember to add these configurations manually.-->
        <activity android:name="com.enterprise.game.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>